* {
    margin: 0;
    padding: 0;
}
.box1{
    width: 100%;
    height: 814px;
    background-image: url(./image/top_background.png);
}
.box1_1{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.box2{
    width: 100%;
    height: 1711px;
    background-image: url(./image/背景_03.png);
    overflow: hidden;
}
.box3{
    width: 100%;
    height: 1358px;
    background-image: url(./image/背景_02.png);
}
.box4{
    width: 100%;
    height: 650px;
    background-image: url(./image/背景_04.png);
}
.box5{
    width: 100%;
    height: 978px;
    background-image: url(./image/bottom.png);
    overflow: hidden;
}
.box6{
    width: 100%;
    height: 33px;
    background-color: #535353;
    overflow: hidden;
}
.top{
    width: 1200px;
    height: 100%;
    background:rgba(0, 0, 0, 0);
    margin: auto;
}
.Introduction{
    width: 1200px;
    height: 100%;
    background:rgba(0, 0, 0, 0);
    margin: auto;
    overflow: hidden;
}
.Picture{
    width: 1200px;
    height: 100%;
    background:rgba(0, 0, 0, 0);
    margin: auto;
}
.Recommend{
    width: 1200px;
    height: 100%;
    background:rgba(0, 0, 0, 0);
    margin: auto;
}
.Bottom{
    width: 1200px;
    height: 100%;
    background:rgba(0, 0, 0, 0);
    margin: auto;
    overflow: hidden;
}
.top1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 95px;
    background:rgba(0, 0, 0, 0);
}
.a{			
    width: 200px;
    height: 95px;
    background:rgba(0, 0, 0, 0);
}
.a a{
    text-align: center;
    color: white;
    text-decoration: none;
    line-height: 95px;
    font-size: 25px;
}
.a a:hover{
    color: #6f6d6d;
}
#b{
    width: 235px;
    height: 95px;
    background-color: #e8024d;
}
#b1{
    width: 213px;
    height: 51px;
    margin-top: 15px;
    margin-left: 11px;
}
.words{
    width: 1010px;
    height: 213px;
    background:rgba(0, 0, 0, 0);
    margin-top: 300px;
    margin-left: 73px;
}
.c{
    width: 1151px;
    height: 505px;
    background-color: white;
    box-shadow: 2px 4px 6px 2px #bfbfbf;
    margin-top: 68px;
    margin-left: 49px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.c1{
    width: 365px;
    height: 235px;
    background-color: #ef4d82;
    position: absolute;
    left: 119px;
    top: 335px;
    opacity: 0.7;
    text-align: center;
    line-height: 235px;
}
.c1:hover{
    background-color: #ef4d82;
    opacity: 0.8;
}
.c1_img{
    width: 421px;
    height: 100%;
    margin-left: 0;
    background-color: white;
    box-shadow: 2px 2px 6px 2px #bfbfbf;
}
.c1_words{
    width: 667px;
    height: 380px;
    background:rgba(0, 0, 0, 0);
    margin: auto 0;
}
.c1_words1{
    width: 100%;
    height: 76px;
}
.c1_words1{
    width: 100%;
    height: 76px;
    margin-top: 48px;
}
.words1{
    width: 319px;
    height: 44px;
    margin: 154px auto 0;
    background-color: white;
}
.kinds{
    width: 100%;
    height: 245px;
    margin-top: 100px;
    background-color: white;
    display:flex;
    justify-content: space-around;
}
.kinds_1{
    width: 368px;
    height: 220px;
    margin-top: 25px;
    background-color: white;    
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#kinds_1title{
    width: 227px;
    height: 26px;
    background-color: white;
    margin: 0 auto;
}
#kinds_1words{
    width: 354px;
    height: 159px;
    background-color: white;
    margin: 0 auto;
}
#kinds_1title1{
    width: 296px;
    height: 26px;
    background-color: white;
    margin: 0 auto;
}
#kinds_1words1{
    width: 363px;
    height: 159px;
    background-color: white;
    margin: 0 auto;
}
#kinds_1title2{
    width: 204px;
    height: 26px;
    background-color: white;
    margin: 0 auto;
}
#kinds_1words2{
    width: 354px;
    height: 159px;
    background-color: white;
    margin: 0 auto;
}
.button{
    width: 245px;
    height: 64px;
    background-color: black;
    margin: 76px auto 0;
    display: flex;
    justify-content: space-between;
}
.button1{
    width: 117px;
    height: 36px;
    margin-left: 63px;
    margin-top: 17px;
}
.button2{
    width: 44px;
    height: 36px;
    margin-top: 17px;
    margin-right: 9px;
}
.pan{
    width: 100%;
    height: 388px;
    margin-top: 67px;
    background-color: #dad8d9;
}
.pan1{
    width: 100%;
    height: 220px;
    background-image: url(./image/pen01.png);
    position: relative;
}
.pan1_lamy{
    width: 89px;
    height: 35px;
    background-color: #e8024d;
    position: absolute;
    top: 195px;
    left: 40px;
}
#pan1_lamy1{
    width: 55px;
    height: 18px;
    margin: 8px auto;
}
.pan2{
    width: 100%;
    height: 168px;
    background-color: #eaeaea;
}
.d{
    width: 100%;
    height: 348px;
    background-color: #6f6d6d;
    position: relative;
}
.d0{
    width: 314px;
    height: 70px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top:76px;
    left:443px;
}
#d01{
    width: 161px;
    height: 25px;
    margin: 0 auto;
}
#d02{
    width: 305px;
    height: 25px;
    margin: 0 auto;
}
#d1{
    width: 813px;
    height: 273px;
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 6px 2px #bfbfbf;
    top: 168px;
    left: 183px;
}
#d1_img{
    width: 75px;
    height: 75px;
    background-color: white;
    margin: 35px auto 0;
    border-radius: 50%;
}
#d1_words{
    width: 546px;
    height: 75px;
    margin: 22px auto 0;
    background-color: white;
}
#d1_button{
    width: 189px;
    height: 9px;
    margin: 29px auto 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
#d1_button1{
    width: 43px;
    height: 100%;
    background-color: #807a7a;
}
.word2{
    width: 187px;
    height: 55px;
    background-color: white;
    margin: 166px auto 0;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#word2_1{
    width: 72px;
    height: 16px;
    margin: 0 auto;
}
#word2_2{
    width: 159px;
    height: 23px;
    margin: 0 auto;
}
.img{
    width: 882px;
    height: 551px;
    background-color: white;
    margin: 35px auto 0;
    display: flex;
    justify-content: space-between;
}
.img1{
    height: 100%;
    width: 249px;
    background-color: white;
}
.img1_box1{
    height: 227px;
    width: 100%;
    background-color: #e1174a;
}
.img1_box2{
    height: 303px;
    width: 100%;
    background-color: #e1174a;
    margin-top: 21px;
}
.img1_box3{
    height: 372px;
    width: 100%;
    background-color: #e1174a;
}
.img1_box4{
    height: 163px;
    width: 100%;
    background-color: #e1174a;
    margin-top: 16px;
}
.img1_box5{
    height: 227px;
    width: 100%;
    background-color: #e1174a;
}
.img1_box6{
    height: 303px;
    width: 100%;
    background-color: #e1174a;
    margin-top: 21px;
}
.Purchase{
    width: 221px;
    height: 68px;
    background-color: #4a3e42;
    margin: 78px auto 0;
    display: flex;
    justify-content: space-between;
}
#Purchase1{
    width: 122px;
    height: 30px;
    margin-top: 20px;
    margin-left: 32px;
    text-align: center;
}
#Purchase2{
    width: 35px;
    height: 33px;
    margin-top: 22px;
    margin-right: 14px;
}
.e{
    width: 100%;
    height: 341px;
    background:rgba(0, 0, 0, 0);
    position: relative;
}
.Recommend_detail{
    width: 874px;
    height: 432px;
    background-color: white;
    box-shadow: 2px 2px 6px 2px #bfbfbf;
    position: absolute;
    top: 90px;
    left: 182px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Recommend_detail1{
    width: 100%;
    height: 121px;
    background:rgba(0, 0, 0, 0);
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
}
#detail_img{
    width: 377px;
    height: 100%;
    background-color: white;
    margin-left: 21px;
}
#detail_words{
    width: 433px;
    height: 100%;
    background:rgba(0, 0, 0, 0);
    margin-right: 21px;
}
.Recommend_detail2{
    width: 100%;
    height: 121px;
    background:rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
}
.Recommend_detail3{
    width: 100%;
    height: 121px;
    background:rgba(0, 0, 0, 0);
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
}
.recommend_button{
    width: 202px;
    height: 60px;
    margin: 223px auto 0;
    background-color: #e8024d;
    display: flex;
    justify-content: space-between;
}
.recommend_button1{
    width: 133px;
    height: 39px;
    margin: 11px auto;
    text-align: center;
}
.recommend_button2{
    width: 49px;
    height: 39px;
    margin: 12px auto;
}
.Bottom_box1{
    width: 100%;
    height: 978px;
    background:rgba(0, 0, 0, 0);
    overflow: hidden;
}
.end{
    width: 624px;
    height: 97px;
    margin: 222px auto 0;
    background:rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-around;
}
.end1{
    width: 94px;
    height: 51px;
    margin-top: 46px;
}
.end2{
    width: 330px;
    height: 100%;
    margin-top: 0;
}
.end3{
    width: 94px;
    height: 51px;
    margin-top: 46px;
}
.box6_words{
    width: 246px;
    height: 17px;
    margin: 7px auto;
}
.button1 a{
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.button1 a:hover{
    color: #6f6d6d;
}
#Purchase1 a{
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
#Purchase1 a:hover{
    color: #6f6d6d;
}
.recommend_button1 a{
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.recommend_button1 a:hover{
    color: #6f6d6d;
}
